<ion-view title="Presentacion" id="page2" style="background-color:#DB3254;">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="presentacion-card21">
            <ion-item class="item-avatar dark" id="presentacion-list-item7">
                <img src="img/FJ47IaSOTluF9s6OzU34_pp.jpeg">
                <h2dark>JuanMa Barreda Fafasuli
                    <p>(Alias "Fafa")</p>
                </h2dark>
            </ion-item>
            <div class=" item item-image">
                <img src="img/FThDl63Qw2LgPv7rxWJw_13165885_10207289184972199_6572168445783591865_n.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="item item-body" id="presentacion-list-item-container2">
                <div id="presentacion-markdown2" style="color:#000000;text-align:center;">
                    <p>Mail:
                        <strong>juanmanuelbf@gmail.com</strong>
                    </p>
                </div>
                <a ui-sref="menu.miGithub" id="presentacion-button7" style="border-radius:8px 8px 8px 8px;" class="button button-dark  button-block icon ion-social-github"></a>
                <div class="spacer" style="width: 268px; height: 17px;"></div>
                <h2 id="presentacion-heading1" style="color:#000000;text-align:center;">Aca es donde estudio:</h2>
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1060.2751631665478!2d-58.36561413747794!3d-34.662564016595816!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x38b223e10c24ff93!2sUniversidad+Tecnol%C3%B3gica+Nacional%3A+Facultad+Regional+Avellaneda!5e0!3m2!1sen!2sar!4v1473690111818"
                    width="266" height="266" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </div>
                <div class="spacer" style="width: 268px; height: 28px;"></div>
                <ion-list id="presentacion-list8">
                    <ion-item class="item-icon-left assertive" id="presentacion-list-item16">
                        <i class="icon ion-music-note"></i>Escuchar audio</ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>